.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: var(--gray);
    margin-bottom: 8px;
}

.customSelect {
    width: fit-content;
    position: relative;
}

.selectBtn {
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--inputs);
    display: flex;
    align-items: center;
    gap: 32px;
}

.arrow {
    rotate: 180deg;
    transition: rotate 0.2s ease;
}

.arrow.up {
    rotate: 0deg;
}

.dropdown {
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 4px);
    width: 100%;
    max-height: 272px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
    background: var(--white);
    border: 1px solid var(--inputs);
    border-radius: 12px;
    padding: 14px 18px;
}

.dropdownItem {
    cursor: pointer;
    color: var(--gray);
    margin-bottom: 8px;
}

.dropdownItem:last-child {
    margin-bottom: 0;
}

.dropdownItem:hover,
.dropdownItem:focus {
    color: var(--main);
}
