.filters {
    display: flex;
    gap: 18px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
    border: none;
    border-radius: 12px;
    padding: 14px 44px;
    background-color: #3470FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 48px;
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background-color: #0B44CD;
}