.fromtoWrapper {
    display: flex;
    position: relative;
}

.block {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #8A8A89;
    margin-bottom: 8px;
}

.block input {
    border: none;
    outline: none;
    background: none;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: #121417;
    background-color: #F7F7FB;
    height: 48px;
    width: 160px;
}

.block input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: #121417;
}

.blockFrom input {
    border-right: 1px solid rgba(138, 138, 137, 0.2);
    border-radius: 14px 0 0 14px;
    padding-left: 24px;
}

.blockTo input {
    border-radius: 0 14px 14px 0;
    padding-right: 24px;
}

/* For WebKit browsers (Chrome, Safari, Edge, Opera) */
.block input::-webkit-outer-spin-button,
.block input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.block input[type="number"] {
    -moz-appearance: textfield;
}