:root {

    --font-family: "Manrope", sans-serif;
    --second-family: "Inter", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    background-color: var(--white);
    color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

a:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
    font: inherit;
    background: none;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    flex: 1;
}
