.hero {
    width: 100%;
    height: calc(100vh - 69px);
    background-color: #8E929A;
    background-image: url(/images/car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 60px;
    position: relative;
    z-index: 1;
}

.heading {
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.ctaButton {
    border: none;
    border-radius: 12px;
    padding: 12px 99px;
    background-color: #3470FF;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.ctaButton:hover,
.ctaButton:focus {
    background-color: #0B44CD;
}