.home {
    width: 100%;
    height: calc(100vh - 69px);
    background-color: var(--gray);
    background-image: url(/images/car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 60px;
}

.title {
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    margin-bottom: 16px;
}

.description {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: var(--white);
    margin-bottom: 40px;
}

.button {
    border-radius: 12px;
    padding: 12px 99px;
    background-color: var(--button);
    font-weight: 600;
    color: var(--white);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
}
