.item {
  flex-basis: calc((100% - 96px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainBlock {
  margin-bottom: 28px;
}

.imageWrapper {
  position: relative;
  margin-bottom: 14px;
  width: 274px;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
}

.likeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  fill: rgba(255, 255, 255, 0.8);
  transition: fill 0.2s ease;
}

.likeButton:hover {
  fill: rgba(255, 255, 255, 1);
}

.likeButton.active {
  fill: #3470ff;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 8px;
}

.info,
.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.info {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info span {
  color: #3470ff;
}

.price {
  white-space: nowrap;
}

.infoList {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoList li {
  position: relative;
  padding-right: 6px;
}

.infoList li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.1);
}

.button {
  border-radius: 12px;
  padding: 12px 0;
  background-color: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: #fff;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
  background-color: #0b44cd;
}